rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	function verifyFields(required, optional) {
      let allAllowedFields = required.concat(optional);
      return request.resource.data.keys().hasAll(required) && request.resource.data.keys().hasOnly(allAllowedFields);
    }
    
  	match /{document=**} {
      allow read: if request.auth.uid != null;
    }
    
    match /activities/{activityId} {
      allow create: if verifyFields(['creatorUserId', 'location'], []);
    }
  }
}